[submodule "emission"]
	path = emission
	url = https://github.com/byte-bayern/open-bydata-notebook-emission.git
  branch = main
[submodule "passantenzaehlung"]
	path = passantenzaehlung
	url = git@github.com:byte-bayern/open-bydata-notebook-passantenzaehlung.git
	branch = main
